<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kwizzad.example">



    <application
        android:name="com.kwizzad.example.ExampleApplication"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kwizzad.example.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SimpleActivity"
            android:configChanges="orientation|screenSize"
            />

        <activity android:name=".SimplePreloadingExample"
            android:configChanges="orientation|screenSize"
            />

    </application>

</manifest>